<main>
  <div>
    <%= flash[:notice] %>
  <div>
  <div class="container">
    <%= render "users/info", user: @user, book: @hoge %>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image(100, 100) %>
                <p><%= @user.name%></p>
              <% end %>
              </td>
              <td>
              <%= link_to book_path(@book) do %>
                <%= @book.title %>
              <% end %>
              </td>
              <td><%= @book.body %></td>
              <td>
                <% if @user == current_user %>
                  <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-success btn-sm" %>
                <% end %>
              </td>
              <td>
                <% if @user == current_user %>
                  <%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>